.Card {
    flex: 1;
    margin: 20px;
    border: 2px solid #000;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.Card .Content {
    background-color: #ffff;
    color: #000;
    flex: 1;
}

.Card .Footer {
    display: flex;
    padding: 25px  150px;
    background-color: #000;
    color: #fff;
}